# =========================================================================
# Compiled Binaries and Modules
# =========================================================================
*.ko
*.o
*.mod
*.mod.c
*.mod.o
*.so

# =========================================================================
# Kbuild / Build System Artifacts
# =========================================================================
.ko.cmd
.o.cmd
.mod.cmd
.mod.o.cmd
.*.cmd
.tmp_versions/
modules.order
Module.symvers

# =========================================================================
# Development & Debugging Artifacts
# =========================================================================
*.a
*.s
*.i
*.d
*.su
.cache.mk

# =========================================================================
# IDEs and Editors (Optional)
# =========================================================================
.vscode/
.idea/
*.swp
*~

# tests
test_ioctl
test_mmap
test_interrupt
test_dma
test_compute
test_opencl_vector_add
test_opencl_matmul
test_opencl_buffer_copy
test_opencl_matmul_occupancy